body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: rgb(75, 74, 74);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  section {
    padding: 20px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    width: 45%;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"],
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: rgb(63, 63, 63);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(99, 99, 99);
  }
  
  #booking-info {
    margin-top: 10px;
  }
  